:root {
  --clr-black: hsl(0, 0%, 8%);
  --clr-green: hsl(153, 71%, 59%);
  --clr-charcoal: hsl(0, 0%, 14%);
  --clr-grey: hsl(0, 0%, 85%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-primary: "Space Grotesk";
  --fs-heading: 5.5rem;
  --fs-title: 3rem;
  --fs-neutral: 1.125rem;
  --fs-project: 1.5rem;
  --fw-regular: 500;  
  --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    width:100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 1fr;
  grid-template-areas: "nav"
                        "hero"
                        "experience"
                        "projects"
                        "form"
                        "footer";
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: var(--fw-regular);
  line-height: 1.62;
}

p {
  color: var(--clr-grey);
}

a {
  font-weight: 700;
  letter-spacing: 0.14288rem;
  color: var(--clr-white);
  text-decoration-color: var(--clr-green);
  text-underline-offset: 0.625rem;
}


/* global typography stylesheet*/

.developer, .project-name {
  font-size: var(--fs-project);
  font-weight: var(--fw-bold);
  line-height: 1.33;
}

.developer {
  letter-spacing: -0.02081rem;
}

.greeting, .project-title h1, .contact-form-container h1 {
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
  line-height: 100%;
  letter-spacing: -0.071rem;
}

.experience h2 {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  line-height: 1.25;
  letter-spacing: -0.0625rem;
}

.project-language {
  font-size: var(--fs-neutral);
  line-height: 1.55;
}

.rings {
  width: 33.125rem;
  height: 8.06rem;
}

.circle {
  width: 8.0625rem;
}

/* header styles*/

header {
  max-width: 23.4375rem;
  grid-area: nav;
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  text-align: center;
  justify-self: center;
}

.developer {
  margin-top: 1.25rem;
}

.social-media-icons {
  min-width: 9.62462rem;
  max-width: 9.62462rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;

}

/* hero styles*/

main {
  max-width: 23.4375rem;
  grid-area: nav / footer;
  grid-row: 1 / span 5;
  display: grid;
  justify-self: center;
}

.hero {
  max-width: 21.4375rem;
  grid-area: nav / hero;
  grid-row: 1 / span 2;
  grid-column: 1;
  display: grid;
  justify-self: center;
  padding-bottom: 5.12rem;
  background-image: url("./assets/images/pattern-rings.svg"), url("./assets/images/pattern-circle.svg");
  background-repeat: no-repeat;
  background-position: left -21.125rem top 7.75rem, top 10rem right -4rem;
  text-align: center;
  border-bottom: 0.0625rem solid var(--clr-white);
}

.developer-portrait {
  width: 10.875rem;
  height: 23.9375rem;
  margin-bottom: 2.5rem;
  justify-self: center;
}

.developer-name {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
  line-height: 100%;
  letter-spacing: -0.071rem;
}

.developer-about {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.62;
}

.contact {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.62;
  letter-spacing: 0.14288rem;
}

/* experience section */

.experience {
  width: 100%;
  max-width: 21.4375rem;
  grid-area: experience / projects;
  display: grid;
  grid-row: 3;
  grid-column: 1;
  justify-content: center;
  justify-self: center;
  background-image: url("./assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: bottom -4.12rem right -21.125rem;
  text-align: center;
  border-bottom: 0.0625rem solid var(--clr-white);
  padding: 1.06rem 0 2.5rem 0;
  list-style-type: none;
  z-index: 2;
}

.experience li {
  font-size: 2rem;
  margin-top: 1.5rem;
}

/* project section*/

.project-section {
  max-width: 21.4375rem;
  grid-area: projects;
  grid-row: 4;
  grid-column: 1;
  display: grid;
  justify-self: center;
  padding: 5.06rem 0; 
  text-align: left;
}

.project-title {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.project-container {
  display: grid;
  padding-bottom: 2.62rem;
}

.project, .project-language {
  margin-bottom: 1.25rem;
}

.project-language {
  display: flex;
  column-gap: 1rem;
}

.project-view {
  display: flex;
  column-gap: 2rem;
}

.last {
  padding-bottom: 0;
}

/* form container*/

.contact-form-container {
  grid-area: form;
  grid-row: 5 ;
  grid-column: 1;
  display: grid;
  background-image: url("./assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: top 27.27rem left -21.125rem;
  background-color: hsl(0, 0%, 14%,1);
  padding-top: 3.75rem;
  padding-inline: 1rem;
}

.contact-form-container:after {
  content: "";
  display: block;
  width: 21.4375rem;
  border-bottom: 0.0625rem solid var(--clr-white);
  padding-top: 5.56rem;
}

.form-title {
  margin-bottom: 1.25rem;
}

.feedback {
  margin-bottom: 3.12rem;
}

.contact-form {
  display: grid;
  text-align: left;
  text-transform: uppercase;
}

.contact-form label{
  color: var(--clr-grey);
  opacity: 0.5;
  padding-left: 1.5rem;
}

.contact-form input, .contact-form textarea{
  border: none;
  border-bottom: 0.0625rem solid var(--clr-white);
  background-color: transparent;
  margin-bottom: 2rem;
}

.contact-form textarea {
  height: 5.07rem;
  margin-bottom: 0;
}

.btn {
  max-width: 8.875rem;
  max-height: 1.625rem;
  border: none;
  background-color: transparent;
  border-bottom: 0.0625rem solid var(--clr-green);
  margin-top: 2.06rem;
  margin-left: auto;
  padding: 0;
  color: var(--clr-white);
}

/*footer*/

footer {
  width: 100%;
  max-width: 23.4375rem;
  grid-area: footer;
  grid-row: 6;
  grid-column: 1;
  display: grid;
  justify-content: center;
  justify-self: center;
  row-gap: 1.25rem;
  padding: 2.5rem 0 3.75rem 0;
  background-color: var(--clr-charcoal);
  text-align: center;
}



